
body {
  background-color: #F2F2F2;
}

.wrapper {
  display: flex;
  /*max-width: 327px;
  @media (min-width: 767px) {
    max-width: 900px;}*/
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
    @media (min-width: 767px) {
      flex-direction: row;}
}

/*rectagle colours and size*/
.rectangle.orange {
  background-color: #E28625;
}

.rectangle.teal {
  background-color: #006971;
}

.rectangle.green {
  background-color: #004140;
}

.rectangle {
  width: 327px;
  height: 442px;
    @media (min-width: 767px) {
      width: 307px;
      height: 500px;}
}

/*Icon, heading and description positions*/
.img {
  margin-bottom: 35px;
}

h2 {
  color: #F2F2F2;
  font-family: "Big Shoulders Display";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 25px;
}

p {
  color: #FFFFFF;
  font-family: "Lexend Deca";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
    @media (min-width: 767px) {
      width: 231px;}
  width: 212px;
  height: 125px;
  margin-bottom: 25px;
    @media (min-width: 767px) {
      margin-bottom: 83px;}
}

.img,.name,.description,.button {
  padding-left: 47.5px;
}

/*orange button*/
.btn.orange:link {
 text-decoration: none;
 font-family: "Lexend Deca";
 font-style: normal;
 font-weight: 400;
 font-size: 15px;
 line-height: 25px;
 background-color: #f2f2f2;
 color: #E28625;
 padding: 11px 31.5px 12px 31.5px;
 border: none;
 border-radius: 25px;
 display: inline-block;
 margin-top: auto;
}

.btn.orange:visited {
  color: #E28625;
 }

.btn.orange:hover {
 background-color: #E28625;
 color: #fff;
 border: 2px solid #fff;
 }

.btn.orange:hover::after {
 background-color: #E28625;
}

/*teal button*/
.btn.teal:link {
 text-decoration: none;
 font-family: "Lexend Deca";
 font-style: normal;
 font-weight: 400;
 font-size: 15px;
 line-height: 25px;
 background-color: #f2f2f2;
 color: #006971;
 padding: 11px 31.5px 12px 31.5px;
 border: none;
 border-radius: 25px;
 display: inline-block;
}

.btn.teal:visited {
  color: #006971;
 }

.btn.teal:hover {
 background-color: #006971;
 color: #fff;
 border: 2px solid #fff;
 }

.btn.teal:hover::after {
 background-color: #006971;
}
  
/*grean button*/
.btn.green:link {
 text-decoration: none;
 font-family: "Lexend Deca";
 font-style: normal;
 font-weight: 400;
 font-size: 15px;
 line-height: 25px;
 background-color: #f2f2f2;
 color: #004140;
 padding: 11px 31.5px 12px 31.5px;
 border: none;
 border-radius: 25px;
 display: inline-block;
}

.btn.green:visited {
  color: #004140;
 }

.btn.green:hover {
 background-color: #004140;
 color: #fff;
 border: 2px solid #fff;
 }

.btn.green:hover::after {
 background-color: #004140;
}

/*orange content positions*/
/*
.rectangle-orange .name {
  margin: 123px 160px 329px 48px;
}

.rectangle-orange .description {
  margin: 196px 47.5px 179px 47.5px;
}

.rectangle-orange .button {
  margin: 404px 113px 48px 48px;
}*/

/*teal content positions*/
/*
.rectangle-teal .name {
  margin: 123px 160px 329px 48px;
}

.rectangle-teal .description {
  margin: 196px 47.5px 179px 47.5px;
}

.rectangle-teal .button {
  margin: 404px 113px 48px 48px;
}*/

/*green content positions*/
/*
.rectangle-green .name {
  margin: 123px 160px 329px 48px;
}

.rectangle-green .description {
  margin: 196px 47.5px 179px 47.5px;
}

.rectangle-green .button {
  margin: 404px 113px 48px 48px;
}*/

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {

}*/